<ul class="list option-buttons" bare>
  <% options.forEach((option, index) => {
    const attr = index === 0 ? 'checked' : ''
  %>
    <li class="option-button">
      <!-- use handleize filter for radio/label id
        https://help.shopify.com/themes/liquid/filters/string-filters#handle-handleize -->
      <input id="option-button-<%= index %>" class="button-radio" type="radio" name="<%= name %>" value="<%= option %>" <%= attr %> />
      <label for="option-button-<%= index %>" class="btn button-label"><%= option %></label>
    </li>
  <% }) %>
</ul>
