<% this.setDefaults(locals, {
  className: '',
  rating: 5
}) %>

<div class="review-item <%= className %>">
  <%- include('../rate-stars/rate-stars.ejs', {
    stars: rating
  }) %>
  <span class="review-meta"><strong><%= author %></strong> on <%= date %></span>
  <blockquote class="review-body">
    <p><%= body %></p>
  </blockquote>
</div>
