<!doctype html>
<html lang="en" class="nojs">
  <head>
    <%- include('../../_core/page-head.ejs', { title: 'Home' }) %>
    <link rel="stylesheet" href="./home.css">
  </head>
  <body>
    <%- include('../../components/header/header.ejs', { className: 'site-header' }) %>

    <main>
      <div class="home-hero">
        <div class="contain"></div>
      </div>

      <%- include('../../components/info-blocks/info-blocks.ejs', {
        attr: 'vertically-center',
        blocks: data.infoBlocks.map(block => ({
          ...block,
          className: (block.dark ? 'home-dark-block' : 'home-light-block')
        }))
      }) %>

      <section class="section home-section">
        <div class="contain">
          <h2 class="section-heading"><a href="#">Product lines</a></h2>
          <div class="grid" three-col>
            <% this.doXTimes(6, () => { %>
              <%- include('../../components/category-item/category-item.ejs', Object.assign(data.productLine, {
                className: 'grid-item'
              })) %>
            <% }) %>
          </div>
        </div>
      </section>

      <section class="section home-section" grey>
        <div class="contain">
          <h2 class="section-heading"><a href="#">LED Blog</a></h2>
          <div class="grid" three-col>
            <% this.doXTimes(3, () => { %>
              <%- include('../../components/blog-item/blog-item.ejs', Object.assign(data.blogItem, {
                className: 'grid-item'
              })) %>
            <% }) %>
          </div>
        </div>
      </section>
    </main>

    <%- include('../../components/footer/footer.ejs') %>

    <script src="./home.js"></script>
  </body>
</html>
