<!doctype html>
<html lang="en">
  <head>
    <%- include('../../_core/page-head.ejs', { title: 'Home' }) %>
  </head>
  <body>
    <%- include('../../components/header/header.ejs', { className: 'site-header' }) %>

    <main>
      <div class="home-hero">
        <div class="constrain"></div>
      </div>

      <%- include('../../components/info-blocks/info-blocks.ejs', {
        verticallyCenter: true,
        blocks: [
          {
            dark: true,
            className: 'home-dark-block',
            heading: 'Why LEDs?',
            list: [
              'They use up to 60% less power',
              'They have a lifespan of 50k hours',
              'They don\'t begin dimming until 25k hours',
              'They don\'t contain mercury',
              'No start up time',
              'Instant power at any temperature'
            ]
          }, {
            className: 'home-light-block',
            heading: 'Why Petersen Parts\' LEDs?',
            list: [
              'Built with a shatterproof poly-carbonite lens',
              'Built to detailed specs for longer lasting lights',
              'Very competitive pricing'
            ]
          }
        ]
      }) %>

      <section class="section home-section">
        <div class="constrain">
          <h2 class="section-heading"><a href="#">Product lines</a></h2>
          <div class="grid" three-col>
            <% this.doXTimes(6, () => { %>
              <%- include('../../components/category-item/category-item.ejs', {
                className: 'grid-item',
                href: '/pages/product-list/',
                image: '//placehold.it/400x200',
                title: 'Indoor lighting'
              }) %>
            <% }) %>
          </div>
        </div>
      </section>

      <section class="section home-section" grey>
        <div class="constrain">
          <h2 class="section-heading"><a href="#">LED Blog</a></h2>
          <div class="grid" three-col>
            <% this.doXTimes(3, () => { %>
              <%- include('../../components/blog-item/blog-item.ejs', {
                className: 'grid-item',
                date: 'May 18, 2017',
                description: 'Did you know that NASA has been testing the use of LED lights on the International Space Station (ISS)?',
                href: '/pages/blog-post/',
                image: '//placehold.it/400x220',
                title: 'Let there be (better) light!'
              }) %>
            <% }) %>
          </div>
        </div>
      </section>
    </main>

    <%- include('../../components/footer/footer.ejs') %>

    <script src="./home.js"></script>
  </body>
</html>
