<% this.setDefaults(locals, {
  className: '',
  editable: false,
  stars: 0,
  wide: false
}) %>

<% if (editable) { %>
  <div
    <% if (id) { %>id="<%= id %>"<% } %>
    class="rate-stars <%= className %>"
    editable
    <% if (wide) { %>wide<% } %>
  >
    <% this.doXTimes(5, (index) => { %>
      <label class="rate-star rate-label" title="Click to rate <%= index %> <%= this.pluralize('star', index) %>">
        <input class="label-radio" type="radio" name="rating" value="<%= index %>" />
        <span class="sr-only"><%= index %> <%= this.pluralize('star', index) %></span>
        <i class="star-icon material-icons"></i>
      </label>
    <% }) %>
  </div>
<% } else { %>
  <div
    class="rate-stars <%= className %>"
    title="<%= stars %> out of 5 stars"
    data-stars="<%= stars %>"
    <% if (wide) { %>wide<% } %>
  >
    <% this.doXTimes(5, () => { %>
      <span class="rate-star"><i class="star-icon material-icons"></i></span>
    <% }) %>
    <span class="sr-only"><%= stars %> out of 5 stars</span>
  </div>
<% } %>
