<!doctype html>
<html lang="en">
  <head>
    <%- include('../../_core/page-head.ejs', { title: 'Product' }) %>
    <link rel="stylesheet" href="./product.css">

    <!-- http://schema.org/Product -->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org/",
        "@type": "Product",
        "name": "Double Row Integrated LED",
        "image": [
          "http://placehold.it/800x500",
          "http://placehold.it/800x500"
        ],
        "description": "Nullam aliquet metus vitae ipsum scelerisque auctor. Morbi ultrices feugiat lacinia. Maecenas id nisl accumsan justo fermentum pharetra id in nulla.",
        "brand": {
          "@type": "Organization",
          "name": "Petersen Parts"
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "4.7",
          "reviewCount": "3"
        },
        "offers": {
          "@type": "Offer",
          "priceCurrency": "USD",
          "price": "40.00",
          "itemCondition": "http://schema.org/NewCondition",
          "availability": "http://schema.org/InStock",
          "seller": {
            "@type": "Organization",
            "name": "Petersen Parts"
          }
        }
      }
    </script>
  </head>
  <body>
    <%- include('../../components/header/header.ejs', { active: 'products', className: 'site-header' }) %>

    <main>
      <section class="section product-main">
        <div class="constrain">
          <div class="product-info main-condensed-show">
            <h1 class="info-title">Double Row Integrated LED</h1>
            <%- include('../../components/rate-stars/rate-stars.ejs', {
              className: 'info-rating',
              stars: 4
            }) %>
            <span class="info-price">$40.00</span>
          </div>

          <%- include('../../components/media-gallery/media-gallery.ejs', {
            className: 'main-gallery',
            id: 'product-main-gallery',
            mainImage: {
              href: '//placehold.it/800x500',
              preview: '//placehold.it/400x275/efefef'
            },
            thumbnails: [
              {
                href: '//placehold.it/800x500',
                preview: '//placehold.it/400x275/efefef'
              }, {
                href: '//placehold.it/800x500',
                preview: '//placehold.it/70x50/efefef'
              }, {
                href: '//placehold.it/800x500',
                preview: '//placehold.it/90x65/efefef'
              }, {
                href: '//placehold.it/800x500',
                preview: '//placehold.it/400x275/efefef'
              }, {
                href: '//placehold.it/800x500',
                preview: '//placehold.it/70x50/efefef'
              }, {
                href: '//placehold.it/800x500',
                preview: '//placehold.it/90x65/efefef'
              }, {
                href: '//placehold.it/800x500',
                preview: '//placehold.it/400x275/efefef'
              }, {
                href: '//placehold.it/800x500',
                preview: '//placehold.it/70x50/efefef'
              }, {
                href: 'https://www.youtube.com/watch?v=NpEaa2P7qZI',
                preview: 'https://img.youtube.com/vi/NpEaa2P7qZI/1.jpg'
              }
            ]
          }) %>

          <div class="product-info main-info">
            <div class="main-condensed-hide">
              <h1 class="info-title">Double Row Integrated LED</h1>
              <%- include('../../components/rate-stars/rate-stars.ejs', {
                className: 'info-rating',
                stars: 4
              }) %>
              <span class="info-price">$40.00</span>
            </div>

            <div class="info-description">
              <p>Nullam aliquet metus vitae ipsum scelerisque auctor. Morbi ultrices feugiat lacinia. Maecenas id nisl accumsan justo fermentum pharetra id in nulla.</p>
              <ul class="list">
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
                <li>Donec tristique eros a eros ullamcorper vel</li>
                <li>Aenean semper nisi vel felis venenatis dignissim</li>
                <li>Maecenas sollicitudin nulla a dui suscipit</li>
                <li>Maecenas imperdiet erat egestas odio</li>
              </ul>
            </div>

            <form action="#">
              <div class="info-options">
                <fieldset class="info-option">
                  <legend class="option-heading">Size</legend>
                  <%- include('../../components/option-buttons/option-buttons.ejs', {
                    name: 'size',
                    options: ['4 foot', '2 foot']
                  }) %>
                </fieldset>
              </div>

              <hr class="info-separator" />

              <div class="info-atc">
                <label class="atc-quantity">
                  <span>Qty:</span>
                  <input bottom-line type="number" value="1" min="1">
                </label>
                <button class="btn_light">Add to cart</button>
              </div>
            </form>

            <!-- Out of stock form
              <form action="#">
                <div class="info-oos">
                  <span class="oos-helper"><em>Out of stock.</em> Get notified when in stock:</span>

                  <label class="labeled-input oos-input" small>
                    <span>Your email</span>
                    <input type="email" name="notify-email" placeholder="janedoe@gmail.com" />
                  </label>

                  <button class="btn_light">Notify me when back in stock</button>
                </div>
              </form>
            -->
          </div>
        </div>
      </section>

      <%- include('../../components/info-blocks/info-blocks.ejs', {
        attr: 'spec-list',
        blocks: [
          {
            className: 'product-grey-block',
            heading: 'Tech specs',
            list: [
              'An alpaca fur poncho',
              'Unicorn tears',
              'Lorem ipsum dolor sit amet, consectetur adipiscing',
              'A legit jade bust of Elon Musk',
              'Power cord',
              'Maecenas sollicitudin nulla a dui suscipit',
              'One extra lego block',
              'Donec tristique eros a eros ullamcorper vel'
            ]
          }, {
            className: 'product-blue-block',
            heading: 'What\'s in the box',
            list: [
              'An alpaca fur poncho',
              'Unicorn tears',
              'Aenean semper nisi vel felis venenatis dignissim',
              'Maecenas imperdiet erat egestas odio',
              'A legit jade bust of Elon Musk',
              'Audi stickers',
              'Power cord',
              'Unicorn tears',
              'A legit jade bust of Elon Musk'
            ]
          }
        ]
      }) %>

      <section class="section">
        <div class="constrain">
          <h2 class="section-heading">Product accessories</h2>
          <div class="grid" three-col>
            <% this.doXTimes(3, () => { %>
              <%- include('../../components/product-item/product-item.ejs', {
                className: 'grid-item',
                href: '/pages/product/',
                image: '//placehold.it/650x390',
                price: '$1.70',
                title: '110 plugin cord'
              }) %>
            <% }) %>
          </div>
        </div>
      </section>

      <section class="section product-reviews">
        <div class="constrain">
          <%- include('../../components/product-review/product-review.ejs', {
            rateStarsId: 'product-rate-stars',
            reviews: [
              {
                author: 'Travis B.',
                body: 'Great experience will buy again',
                date: 'Apr 11, 2017'
              }, {
                author: 'Monte W.',
                body: 'The white light is what I wanted. Easy to install, once I could plug them in to existing plugs, could not hard wired. I can see work area better. Yes, I will buy more later for the second work area. Not real sure that the clips will keep the lights in place. Installed May 9, 2017.',
                date: 'May 15, 2017',
                rating: 4
              }, {
                author: 'Terrance H.',
                body: 'Easy to install',
                date: 'Mar 28, 2017'
              }
            ]
          }) %>
        </div>
      </section>
    </main>

    <%- include('../../components/footer/footer.ejs') %>

    <script src="./product.js"></script>
  </body>
</html>
