<!doctype html>
<html lang="en">
  <head>
    <%- include('../../_core/page-head.ejs', { title: 'Product' }) %>
  </head>
  <body>
    <%- include('../../components/header/header.ejs', { active: 'products', className: 'site-header' }) %>

    <main>
      <section class="section product-main">
        <div class="constrain">
          <div class="product-info main-condensed-show">
            <h1 class="info-title">Double Row Integrated LED</h1>
            <%- include('../../components/rate-stars/rate-stars.ejs', {
              stars: 4
            }) %>
            <span class="info-price">$40.00</span>
          </div>

          <%- include('../../components/media-gallery/media-gallery.ejs', {
            className: 'main-gallery',
            id: 'product-main-gallery',
            mainImage: {
              href: '//placehold.it/800x500',
              preview: '//placehold.it/400x275/efefef'
            },
            thumbnails: [
              {
                href: '//placehold.it/800x500',
                preview: '//placehold.it/400x275/efefef'
              },
              {
                href: '//placehold.it/800x500',
                preview: '//placehold.it/70x50/efefef'
              },
              {
                href: '//placehold.it/800x500',
                preview: '//placehold.it/90x65/efefef'
              },
              {
                href: '//placehold.it/800x500',
                preview: '//placehold.it/400x275/efefef'
              },
              {
                href: '//placehold.it/800x500',
                preview: '//placehold.it/70x50/efefef'
              },
              {
                href: '//placehold.it/800x500',
                preview: '//placehold.it/90x65/efefef'
              },
              {
                href: '//placehold.it/800x500',
                preview: '//placehold.it/400x275/efefef'
              },
              {
                href: '//placehold.it/800x500',
                preview: '//placehold.it/70x50/efefef'
              },
              {
                href: 'https://www.youtube.com/watch?v=NpEaa2P7qZI',
                preview: 'https://img.youtube.com/vi/NpEaa2P7qZI/1.jpg'
              }
            ]
          }) %>

          <div class="product-info main-info">
            <div class="main-condensed-hide">
              <h1 class="info-title">Double Row Integrated LED</h1>

              <div class="rate-stars info-rating" title="4 out of 5 stars" data-stars="4">
                <span class="rate-star"><i class="star-icon material-icons"></i></span>
                <span class="rate-star"><i class="star-icon material-icons"></i></span>
                <span class="rate-star"><i class="star-icon material-icons"></i></span>
                <span class="rate-star"><i class="star-icon material-icons"></i></span>
                <span class="rate-star"><i class="star-icon material-icons"></i></span>
                <span class="sr-only">4 out of 5 stars</span>
              </div>

              <span class="info-price">$40.00</span>
            </div>

            <div class="info-description">
              <p>Nullam aliquet metus vitae ipsum scelerisque auctor. Morbi ultrices feugiat lacinia. Maecenas id nisl accumsan
                justo fermentum pharetra id in nulla.</p>
              <ul class="list">
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
                <li>Donec tristique eros a eros ullamcorper vel</li>
                <li>Aenean semper nisi vel felis venenatis dignissim</li>
                <li>Maecenas sollicitudin nulla a dui suscipit</li>
                <li>Maecenas imperdiet erat egestas odio</li>
              </ul>
            </div>

            <form action="#">
              <div class="info-options">
                <fieldset class="info-option">
                  <legend class="option-heading">Size</legend>
                  <%- include('../../components/option-buttons/option-buttons.ejs', {
                    name: 'size',
                    options: ['4 foot', '2 foot']
                  }) %>
                </fieldset>
              </div>

              <hr class="info-separator" />

              <div class="info-atc">
                <label class="atc-quantity">
                  <span>Qty:</span>
                  <input bottom-line type="number" value="1" min="1">
                </label>
                <button class="btn_light">Add to cart</button>
              </div>
            </form>

            <!-- Out of stock form
              <form action="#">
                <div class="info-oos">
                  <span class="oos-helper"><em>Out of stock.</em> Get notified when in stock:</span>

                  <label class="labeled-input oos-input" small>
                    <span>Your email</span>
                    <input type="email" name="notify-email" placeholder="janedoe@gmail.com" />
                  </label>

                  <button class="btn_light">Notify me when back in stock</button>
                </div>
              </form>
            -->
          </div>
        </div>
      </section>

      <%- include('../../components/info-blocks/info-blocks.ejs', {
        attr: 'spec-list',
        blocks: [
          {
            className: 'product-grey-block',
            heading: 'Tech specs',
            list: [
              'An alpaca fur poncho',
              'Unicorn tears',
              'Lorem ipsum dolor sit amet, consectetur adipiscing',
              'A legit jade bust of Elon Musk',
              'Power cord',
              'Maecenas sollicitudin nulla a dui suscipit',
              'One extra lego block',
              'Donec tristique eros a eros ullamcorper vel'
            ]
          }, {
            className: 'product-blue-block',
            heading: 'What\'s in the box',
            list: [
              'An alpaca fur poncho',
              'Unicorn tears',
              'Aenean semper nisi vel felis venenatis dignissim',
              'Maecenas imperdiet erat egestas odio',
              'A legit jade bust of Elon Musk',
              'Audi stickers',
              'Power cord',
              'Unicorn tears',
              'A legit jade bust of Elon Musk'
            ]
          }
        ]
      }) %>

      <section class="section">
        <div class="constrain">
          <h2 class="section-heading">Product accessories</h2>
          <div class="grid" three-col>
            <% this.doXTimes(3, () => { %>
              <%- include('../../components/product-item/product-item.ejs', {
                className: 'grid-item',
                href: '/pages/product/',
                image: '//placehold.it/650x390',
                price: '$1.70',
                title: '110 plugin cord'
              }) %>
            <% }) %>
          </div>
        </div>
      </section>

      <section class="section product-reviews">
        <div class="constrain">
          <div class="product-review">
            <div class="review-form">
              <form action="#">
                <fieldset>
                  <legend class="review-heading">Rate this product</legend>
                  <%- include('../../components/rate-stars/rate-stars.ejs', {
                    className: 'form-rate',
                    editable: true,
                    id: 'product-rate-stars',
                    stars: 4,
                    wide: true
                  }) %>
                </fieldset>

                <!-- <label class="form-input">
                  <h3 class="review-subheading">Leave a review (optional)</h3>
                  <textarea name="body" rows="5" placeholder="Your review..."></textarea>
                </label>

                <div class="review-actions">
                  <button class="btn_dark" title="Save your rating">Save</button>
                  <button class="btn_bare review-delete" title="Delete your rating">Delete</button>
                </div> -->
              </form>
            </div>

            <hr class="review-separator" />

            <h2 class="review-heading">Reviews</h2>

            <ul class="review-list">
              <li class="list-item review-item">
                <div class="rate-stars" title="5 out of 5 stars" data-stars="5">
                  <span class="rate-star"><i class="star-icon material-icons"></i></span>
                  <span class="rate-star"><i class="star-icon material-icons"></i></span>
                  <span class="rate-star"><i class="star-icon material-icons"></i></span>
                  <span class="rate-star"><i class="star-icon material-icons"></i></span>
                  <span class="rate-star"><i class="star-icon material-icons"></i></span>
                  <span class="sr-only">5 out of 5 stars</span>
                </div>
                <span class="review-meta"><strong>Travis B.</strong> on Apr 11, 2017</span>
                <blockquote class="review-body">
                  <p>Great experience will buy again</p>
                </blockquote>
              </li>
              <li class="list-item review-item">
                <div class="rate-stars" title="5 out of 5 stars" data-stars="5">
                  <span class="rate-star"><i class="star-icon material-icons"></i></span>
                  <span class="rate-star"><i class="star-icon material-icons"></i></span>
                  <span class="rate-star"><i class="star-icon material-icons"></i></span>
                  <span class="rate-star"><i class="star-icon material-icons"></i></span>
                  <span class="rate-star"><i class="star-icon material-icons"></i></span>
                  <span class="sr-only">5 out of 5 stars</span>
                </div>
                <span class="review-meta"><strong>Monte W.</strong> on May 15, 2017</span>
                <blockquote class="review-body">
                  <p>The white light is what I wanted. Easy to install, once I could plug them in to existing plugs, could not
                    hard wired. I can see work area better. Yes, I will buy more later for the second work area. Not real sure
                    that the clips will keep the lights in place. Installed May 9, 2017.</p>
                </blockquote>
              </li>
              <li class="list-item review-item">
                <div class="rate-stars" title="5 out of 5 stars" data-stars="5">
                  <span class="rate-star"><i class="star-icon material-icons"></i></span>
                  <span class="rate-star"><i class="star-icon material-icons"></i></span>
                  <span class="rate-star"><i class="star-icon material-icons"></i></span>
                  <span class="rate-star"><i class="star-icon material-icons"></i></span>
                  <span class="rate-star"><i class="star-icon material-icons"></i></span>
                  <span class="sr-only">5 out of 5 stars</span>
                </div>
                <span class="review-meta"><strong>Terrance H.</strong> on Mar 28, 2017</span>
                <blockquote class="review-body">
                  <p>Easy to install</p>
                </blockquote>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </main>

    <%- include('../../components/footer/footer.ejs') %>

    <script src="./product.js"></script>
  </body>
</html>
