<!doctype html>
<html lang="en" class="nojs">
  <head>
    <%- include('../../_core/page-head.ejs', { title: 'Product' }) %>
    <link rel="stylesheet" href="./product.css">

    <!-- http://schema.org/Product -->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org/",
        "@type": "Product",
        "name": "Double Row Integrated LED",
        "image": [
          "http://placehold.it/800x500",
          "http://placehold.it/800x500"
        ],
        "description": "Nullam aliquet metus vitae ipsum scelerisque auctor. Morbi ultrices feugiat lacinia. Maecenas id nisl accumsan justo fermentum pharetra id in nulla.",
        "brand": {
          "@type": "Organization",
          "name": "Petersen Parts"
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "4.7",
          "reviewCount": "3"
        },
        "offers": {
          "@type": "Offer",
          "priceCurrency": "USD",
          "price": "40.00",
          "itemCondition": "http://schema.org/NewCondition",
          "availability": "http://schema.org/InStock",
          "seller": {
            "@type": "Organization",
            "name": "Petersen Parts"
          }
        }
      }
    </script>
  </head>
  <body>
    <%- include('../../components/header/header.ejs', { active: 'products', className: 'site-header' }) %>

    <main>
      <section class="section product-main">
        <div class="contain">
          <div class="product-info main-condensed-show">
            <h1 class="info-title"><%= product.title %></h1>
            <%- include('../../components/rate-stars/rate-stars.ejs', {
              className: 'info-rating',
              stars: product.rating
            }) %>
            <span class="info-price"><%= product.price %></span>
          </div>

          <%- include('../../components/media-gallery/media-gallery.ejs', Object.assign(product.mediaGallery, {
            className: 'main-gallery',
            id: 'product-main-gallery',
          })) %>

          <div class="product-info main-info">
            <div class="main-condensed-hide">
              <h1 class="info-title"><%= product.title %></h1>
              <%- include('../../components/rate-stars/rate-stars.ejs', {
                className: 'info-rating',
                stars: product.rating
              }) %>
              <span class="info-price"><%= product.price %></span>
            </div>

            <div class="info-description">
              <p>Nullam aliquet metus vitae ipsum scelerisque auctor. Morbi ultrices feugiat lacinia. Maecenas id nisl accumsan justo fermentum pharetra id in nulla.</p>
              <ul class="list">
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
                <li>Donec tristique eros a eros ullamcorper vel</li>
                <li>Aenean semper nisi vel felis venenatis dignissim</li>
                <li>Maecenas sollicitudin nulla a dui suscipit</li>
                <li>Maecenas imperdiet erat egestas odio</li>
              </ul>
            </div>

            <form action="#">
              <div class="info-options">
                <% product.options.forEach(option => { %>
                  <fieldset class="info-option">
                    <legend class="option-heading"><%= option.name %></legend>
                    <%- include('../../components/option-buttons/option-buttons.ejs', {
                      name: option.name.toLowerCase(),
                      options: option.choices
                    }) %>
                  </fieldset>
                <% }) %>
              </div>

              <hr class="info-separator" />

              <div class="info-atc">
                <label class="atc-quantity">
                  <span>Qty:</span>
                  <input bottom-line type="number" value="1" min="1">
                </label>
                <button class="btn_light">Add to cart</button>
              </div>
            </form>

            <!-- Out of stock form
              <form action="#">
                <div class="info-oos">
                  <span class="oos-helper"><em>Out of stock.</em> Get notified when in stock:</span>

                  <label class="labeled-input oos-input" small>
                    <span>Your email</span>
                    <input type="email" name="notify-email" placeholder="janedoe@gmail.com" />
                  </label>

                  <button class="btn_light">Notify me when back in stock</button>
                </div>
              </form>
            -->
          </div>
        </div>
      </section>

      <%- include('../../components/info-blocks/info-blocks.ejs', {
        attr: 'spec-list',
        blocks: [
          {
            className: 'product-grey-block',
            heading: 'Tech specs',
            list: product.techSpecs
          }, {
            className: 'product-blue-block',
            heading: 'What\'s in the box',
            list: product.whatsInBox
          }
        ]
      }) %>

      <section class="section">
        <div class="contain">
          <h2 class="section-heading">Product accessories</h2>
          <div class="grid" three-col>
            <% this.doXTimes(3, () => { %>
              <%- include('../../components/product-item/product-item.ejs', Object.assign(product.accessory, {
                className: 'grid-item'
              })) %>
            <% }) %>
          </div>
        </div>
      </section>

      <section class="section product-reviews">
        <div class="contain">
          <%- include('../../components/product-review/product-review.ejs', {
            rateStarsId: 'product-rate-stars',
            reviews: product.reviews
          }) %>
        </div>
      </section>
    </main>

    <%- include('../../components/footer/footer.ejs') %>

    <script src="./product.js"></script>
  </body>
</html>
