<% this.setDefaults(locals, {
  className: ''
}) %>

<div
  <% if (id) { %>id="<%= id %>"<% } %>
  class="media-gallery <%= className %>"
>
  <div class="gallery-img" main>
    <a href="<%= mainImage.href %>" data-fancybox="media-gallery">
      <img src="<%= mainImage.preview %>" alt="Main image" />
    </a>
  </div>
  <ul class="list gallery-thumbnails" bare>
    <% thumbnails.forEach(thumbnail => { %>
      <li class="gallery-img">
        <a href="<%= thumbnail.href %>" data-fancybox="media-gallery">
          <img src="<%= thumbnail.preview %>" alt="Thumbnail image" />
        </a>
      </li>
    <% }) %>
  </ul>
</div>
