<div class="item_category <%= className %>">
  <a class="display-block" href="<%= href %>">
    <span class="item-title"><%= title %></span>
    <img class="item-img" src="<%= image %>" alt="<%= title %>">
  </a>
</div>
