<!doctype html>
<html lang="en">
  <head>
    <%- include('../../_core/page-head.ejs', { title: 'Blog Post' }) %>
    <link rel="stylesheet" href="./blog-post.css">

    <!-- http://schema.org/NewsArticle -->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "Let there be (better) light!",
        "image": [
          "https://example.com/photos/1x1/photo.jpg"
        ]
      }
    </script>
  </head>
  <body>
    <%- include('../../components/header/header.ejs', { active: 'blog', className: 'site-header' }) %>

    <main class="blog-post">
      <div class="constrain post-constrain post-heading">
        <h1 class="heading-title">Let there be (better) light!</h1>
        <span class="heading-date display-block">May 18, 2017</span>
      </div>

      <div class="post-hero">
        <img class="hero-img" src="/assets/blog-image.jpg" alt="Let there be (better) light!">
      </div>

      <section class="section">
        <div class="constrain post-constrain">
          <%- include('../../components/social-share/social-share.ejs', {
            className: 'post-social social-wide',
            direction: 'vertical'
          }) %>

          <div class="post-body">
            <h2>Testing LEDs in space</h2>
            <p>Did you know that NASA has been testing the use of LED lights on the International Space Station (ISS)? Well, they have. Starting back with ISS Expedition 18 in October of 2008, NASA started testing the use of a Solid-State Lighting Module within the spacecraft environment of the ISS. These tests and their results could benefit everyone, both in space and on earth.</p>
            <p>So far, data from a LED light unit placed on the space station shows that LED’s provide the same indirect daylight and overhead fluorescent light illumination when needed for visual activities and observing color differences. NASA has also determined that LED lighting has provided them with an energy efficient light system that has a longer life span and doesn’t contain any potentially toxic mercury vapor.</p>
            <p>Also, since research has shown that certain blue LED lights can suppress melatonin, NASA believes this could aid in providing better sleep on the ISS by better managing the circadian rhythms of those on board.</p>
            <p>Whatever NASA determines in their final report, know that the results will be used in the design of lighting systems in the next generation of crew exploration vehicles.</p>
            <p> Sources: <a href="https://www.nasa.gov/mission_pages/station/research/experiments/651.html">https://www.nasa.gov/mission_pages/station/research/experiments/651.html</a></p>
          </div>

          <hr class="post-hr">

          <%- include('../../components/social-share/social-share.ejs', {
            className: 'post-social social-condensed',
            direction: 'horizontal'
          }) %>

          <div class="post-nav">
            <% this.doXTimes(2, index => {
              const label = index === 1 ? 'Previous' : 'Next'
            %>
              <div class="nav-item">
                <span class="item-label display-block"><%= label %> post</span>
                <%- include('../../components/blog-item/blog-item.ejs', {
                  date: 'May 18, 2017',
                  href: '/pages/blog-post/',
                  image: '//placehold.it/400x220',
                  title: 'Let there be (better) light!'
                }) %>
              </div>
            <% }) %>
          </div>
        </div>
      </section>
    </main>

    <%- include('../../components/footer/footer.ejs') %>

    <script src="./blog-post.js"></script>
  </body>
</html>
